div,
input,
textarea {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title {
  text-align: center;
  font-size: 16px;
}

.content {
  text-align: center;
}

.box {
  width: 300px;
  background: cadetblue;
  margin: 10px;
  padding: 40px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  color: white;
  text-align: center;
  box-shadow: 10px 5px 5px green;
}

/* .container {
  width: 800px;
} */

.header {
  width: 100%;
  height: 100px;
  background: aquamarine;
}

.left-menu {
  width: 20%;
  height: 400px;
  background: cornflowerblue;
  float: left;
}

.right {
  width: 80%;
  height: 400px;
  background: coral;
  float: left;
  /* 오른쪽 스타일하는 부분 */
}

.footer {
  width: 100%;
  height: 100px;
  background: grey;
  clear: both;
}

.container {
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.blog-content {
  width: 80%;
  height: 200px;
  background: #eee;
  float: left;
}

.blog-img {
  width: 20%;
  height: 200px;
  background: yellow;
  float: left;
}

.blog-profile {
  width: 50px;
  display: block;
  float: left;
}

.blog-name {
  float: left;
}

.navbar li {
  display: inline-block;
  width: 60px;
  text-align: center;
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
}

.main-background {
  width: 100%;
  height: 500px;
  background-image: url(../img/shoes.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1px;
  color: white;
  text-align: center;
  position: relative;
}

.main-title {
  color: white;
  font-size: 40px;
  margin-top: 300px;
}

.main-button {
  padding: 15px;
  font-size: 20px;
  background: white;
  border: none;
  border-radius: 5px;
  position: absolute;
  left: 0px;
  right: 0px;
  margin: auto;
  width: 150px;
}

.explain-box {
  width: 80%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  text-align: center;
  background-color: #eee;
  position: relative;
  top: -40px;
  color: black;
}

.form-background {
  background-color: black;
  padding: 30px;
}

.form-white {
  background-color: white;
  padding: 30px;
  width: 80%;
  max-width: 600px;
  margin: auto;
}

.form-input {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
}

.w-50 {
  width: 50%;
  float: left;
  padding: 10px;
}

.w-100 {
  width: 100%;
  padding: 10px;
}

.yellow-button {
  width: 20%;
  padding: 10px;
  display: block;
  margin-left: auto;
  background-color: orange;
  border: none;
  border-radius: 5px;
  float: right;
}

td,
th {
  border: 1px solid black;
}

.cart-table td,
.cart-table th {
  padding: 15px;
  border: 1px solid #c2d3de;
}

.cart-background {
  width: 100%;
  background-color: #c2d3de;
  padding: 30px;
}

.cart-table {
  width: 100%;
  max-width: 700px;
  margin: auto;
  background: white;
  border-radius: 10px;
}

.cell-long {
  width: 700px;
}
